{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#" onClick="javascript :history.back(-1)"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
			<li class="active">Error information</li>
		</ol>
	</div>
	<div style="background:gray;">
        {% if error_info %}
            {% for error_line in error_info %}
            <h2 style="color:black;">{{error_line}}</h2>
            {% endfor %}
        {% else %}
        <h1>This is the ERROR information page</h1>
        {% endif %}
	</div>
</div>
<!--/.main-->
{% endblock %}
