{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="{{ url_for('.index') }}"><span
					class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">Forwarding Nodes</li>
		</ol>
	</div>
	<!--/.row-->
	<!-- Start the Form -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="form_iops">
						<div class="col-md-4">
							<label>请输入开始时间</label>
							<div class="form-group">
								<input class="form-control" name=start_time>
							</div>
						</div>
						<div class="col-md-4">
							<label>请输入结束时间</label>
							<div class="form-group">
								<input class="form-control" name=end_time>
							</div>
						</div>
						<div class="col-md-4">
							<label>请输入节点</label>
							<div class="form-group">
								<input class="form-control" placeholder="默认为所有节点" name=node>
							</div>
						</div>
					</form>
					<div class="col-md-4">
						<button class="btn btn-primary" id="submit">Submit Button</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-->
	</div>
	<!-- /.row -->
	<!-- End the Form -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">分析结果</div>
				<div class="panel-body">
					<div class="canvas-wrapper"
						style="display: flex; justify-content: center; align-items: center;">
						<!--  <canvas class="main-chart" id="line-chart" height="200"
							width="600"></canvas>-->
						<img id="image" src="" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Max Value</h4>
					<div class="easypiechart" id="easypiechart-orange">
						<span class="percent" id="max">0</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Min Value</h4>
					<div class="easypiechart" id="easypiechart-blue">
						<span class="percent" id="min">0</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Average</h4>
					<div class="easypiechart" id="easypiechart-teal">
						<span class="percent" id="avg">0</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Total</h4>
					<div class="easypiechart" id="easypiechart-red">
						<span class="percent" id="total">0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->
{% endblock %} {% block js %}
<script src="static/js/chart-image.js"></script>
<script type="text/javascript">
	$("#nav_fnode").addClass("active");
</script>
{% endblock %}
