{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="{{ url_for('.index') }}"><span
					class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">Metadata</li>
		</ol>
	</div>
	<!--/.row-->
	<!-- Start the Form -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="form_iops">
						<div class="col-md-4">
							<div class="form-group">
								<label>JOB ID</label> <input class="form-control" name="job_id" id="job_id">
							</div>
						</div>
						<div class="col-md-4">
							<label>请输入开始时间</label>
							<div class="form-group">
								<input class="form-control" placeholder="默认为JOB开始时间"
									name="start_time">
							</div>
						</div>
						<div class="col-md-4">
							<label>请输入结束时间</label>
							<div class="form-group">
								<input class="form-control" placeholder="默认为JOB结束时间" name="end_time">
							</div>
						</div>
					</form>
					<div class="col-md-4">
						<button class="btn btn-primary" id="submit">开始查询</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-->
	</div>
	<!-- /.row -->
	<!-- End the Form -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading" id="div_tip" style="color:green;">The query may take a long time. Please wait patiently.</div>
				<div class="panel-body">
					<div class="canvas-wrapper"
						style="display: flex; justify-content: center; align-items: center;">
						<img id="image" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Max Value</h4>
					<div class="easypiechart" id="easypiechart-orange">
						<span class="percent" id="max">0</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Min Value</h4>
					<div class="easypiechart" id="easypiechart-blue">
						<span class="percent" id="min">0</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Average</h4>
					<div class="easypiechart" id="easypiechart-teal">
						<span class="percent" id="avg">0</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Total</h4>
					<div class="easypiechart" id="easypiechart-red">
						<span class="percent" id="total">0</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->
{% endblock %} {% block js %}
<script src="static/js/c_metadata.js"></script>
<script type="text/javascript">
	$("#nav_metadata").addClass("active");
</script>
{% endblock %}
