{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Job Overview</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="form_lwfs_client">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>JOB ID</label>
                                <input class="form-control" id="ipt_jobid" name="jobid">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Please input the start time</label>
                            <div class="form-group">
                                <input class="form-control" id="ipt_stime" name="start_time" laceholder="Default: job's start time">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Please input the end time</label>
                            <div class="form-group">
                                <input class="form-control" id="ipt_etime" name="end_time" laceholder="Default: job's end time">
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="submit">Query</button>
                        <select class="custom-select" id="query_type" onchange="change_query_type();" disabled="disabled">
                            <option>read bandwidth</option>
                            <option>write bandwidth</option>
                            <option>read iops</option>
                            <option>write iops</option>
                            <option>file open</option>
                            <option>file close</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="div_tip" style="color:green;">The query may take a long time. Please wait patiently.</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <div id="mchart" style="width:100%;height:500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 
{% block js %}
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/lwfs_client.js"></script>
<script type="text/javascript">
    $("#nav_cnode").addClass("active");
</script>
{% endblock %}
