{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.index') }}"><span
                    class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">IO Bandwidth</li>
        </ol>
    </div>
    <!--/.row-->
    <!-- Start the Form -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="form_ciobandwidth">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>JOB ID</label> <input class="form-control" name="job_id" id="job_id">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Please input the start time</label>
                            <div class="form-group">
                                <input class="form-control" placeholder="Default: job's start time" name="start_time" id="start_time">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Please input the end time</label>
                            <div class="form-group">
                                <input class="form-control" placeholder="Default: job's end time" name="end_time" id="end_time">
                            </div>
                        </div>
                    </form>
                    <div class="col-md-4">
                        <button class="btn btn-primary" id="submit">Query</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
    <!-- /.row -->
    <!-- End the Form -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <h3 class="page-header" style="color:Darkorange;">JOB : 42340081</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="canvas-wrapper col-lg-12"
                        style="display: flex; justify-content: center; align-items: center;">
                        <img id="image", src="static/images/beacon_job.png"/>
                    </div>
                    <div class="canvas-wrapper col-lg-12" style="height:510px">
                        <div class="col-lg-4" style="">
                            <h3 class="page-header" style="color:teal; text-align:center;"><a style="color:teal">Compute Nodes List</a></h1>
                        </div>
                        <div  class="col-lg-4" style="">
                            <h3 class="page-header" style="color:green; text-align:center;"><a style="color:green">Forwarding Nodes List</a></h1>
                        </div>
                        <div  classs="col-lg-4" style="">
                            <h3 class="page-header" style="color:red; text-align:center;"><a style="color:red">OSTs List</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.main-->
{% endblock %} {% block js %}
<script type="text/javascript">
    $("#nav_job_bandwidth").addClass("active");
</script>
{% endblock %}
