{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="{{ url_for('index') }}"><span
					class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">System User</li>
		</ol>
	</div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:green;">All System Users</h1>
            <h3 class="page-header" style="color:orange;">Current Total : {{user_num}}</h1>
        </div>
    </div>

    <div class="row">
		<div class="col-xs-12 col-md-12">
			<table class="table table-bordered table-hover">
                <tbody>
                    {% for line in userlist %}    
                    <tr>
                        {% for item in line %}
                        <td><a href="{{ url_for('userspace',user=item[0]) }}" style="color:teal;">{{item[0]}}</a></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                <tbody>              
            <table>
		</div>
    </div>
</div>
<!--/.main-->
{% endblock %} {% block js %}
<script type="text/javascript">
	$("#nav_system_user").addClass("active");
</script>
{% endblock %}
