<script src="static/js/workload.js"></script>
{% extends "base.html" %} {% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="{{ url_for('.index') }}"><span
					class="glyphicon glyphicon-home"></span></a></li>
			<li class="active">System Workload</li>
		</ol>
	</div>
	<!--/.row-->
	<!-- Start the Form -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
                    <form action="/workload" method="post">
						<div class="col-md-6">
							<label>Please input the start time</label>
							<div class="form-group">
								<input class="form-control" name="start_time" id="start_time" placeholder="e.g.  2017-04-01 08:00:00">
							</div>
						</div>
						<div class="col-md-6">
							<label>Please input the end time</label>
							<div class="form-group">
								<input class="form-control" name="end_time" id="end_time" placeholder="e.g.  2017-04-01 10:00:00">
							</div>
						</div>
                        <div class="col-md-4">
						    <input class="btn btn-primary" type="submit" onclick="return check(this.form)" value='Query'>
					    </div>
					</form>
				</div>
			</div>
		</div>
		<!-- /.col-->
	</div>
	<!-- /.row -->
	<!-- End the Form -->
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
                <div class="panel-heading" id="div_tip" style="color:green;">
                    {% if job_count %}
                        Result
                    {% else %}
                        The query may take a long time. Please wait patiently.
                    {% endif %}
                </div>
				<div class="panel-body" style="overflow-y:scroll; height:70%;">
                    {% if job_count %}
                    <div class="row">					
                        <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center;">
						    <img id="image" src="/image/job_count.png"/>
					    </div>
                        <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center;">
						    <img id="image" src="/image/corehour.png"/>
					    </div>
                    </div>
                    {% endif %}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Time Slice</th>
                                <th>Job Count</th>
                                <th>Corehour</th>
                            </tr>
                        </thead>
                        {% if job_count %}
                        <tbody>
                            {% for i in range(0,job_count|length) %}
                            <tr>                                                
                                <td>{{i}}</td>
                                <td>{{job_count[i]}}</td>
                                <td>{{job_corehour[i]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% endif %}                
                    </table>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Job Max</h4>
					<div class="easypiechart" id="easypiechart-orange">
						<span class="percent" id="max">{% if result %}{{ result['jmax'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Job Min</h4>
					<div class="easypiechart" id="easypiechart-blue">
						<span class="percent" id="min">{% if result %}{{ result['jmin'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Job Total</h4>
					<div class="easypiechart" id="easypiechart-teal">
						<span class="percent" id="avg">{% if result %}{{ result['jsum'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Job Average</h4>
					<div class="easypiechart" id="easypiechart-red">
						<span class="percent" id="total">{% if result %}{{ result['javg'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
        		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Corehour Max</h4>
					<div class="easypiechart" id="easypiechart-orange">
						<span class="percent" id="max">{% if result %}{{ result['cmax'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Corehour Min</h4>
					<div class="easypiechart" id="easypiechart-blue">
						<span class="percent" id="min">{% if result %}{{ result['cmin'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Corehour Total</h4>
					<div class="easypiechart" id="easypiechart-teal">
						<span class="percent" id="avg">{% if result %}{{ result['csum'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Corehour Average</h4>
					<div class="easypiechart" id="easypiechart-red">
						<span class="percent" id="total">{% if result %}{{ result['cavg'] }}{% endif %}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/.row-->
</div>
<!--/.main-->
{% endblock %} {% block js %}
<script src="static/js/workload.js"></script>
<script type="text/javascript">
	$("#nav_system_workload").addClass("active");
</script>
{% endblock %}
